main#notebook {
  min-width: 100vw;
  min-height: 100vh;
}

nav {
  border-radius: 1rem;
  background-color: rgba(153, 205, 50, 0.26);
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  &>* {
    border: 1px black solid;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

button#add-note {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 100vw;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}