#notebook {
  min-width: 100vw;
  min-height: 100vh;
}

nav {
  border-radius: 1rem;
  background-color: rgba(153, 205, 50, 0.26);
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  &>* {
    box-sizing: border-box;
    border: 1px black solid;
    flex: 1;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}