main#notebook {
  min-width: 100vw;
  min-height: 100vh;
}

nav {
  border-radius: 1rem;
  opacity: 50%;
}

nav#date-bar {
  position: absolute;
  background-color: aqua;
  min-width: 5rem;
  min-height: 5rem;
  top: 0;
  inset: auto 25%;
}

nav#tools {
  position: absolute;
  background-color: aquamarine;
  min-width: 5rem;
  min-height: 5rem;
  inset: 15% auto;
}

button#add-note {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 100vw;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}