:root {
  color-scheme: light dark;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-size: 20px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
nav,
main,
div,
body {
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}